{% extends 'components/custom-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}PyTutor-OM - Reset Password{% endblock %}
{% block content %}
	<div class="container-login100">
        <div class="wrap-login100 p-6">
        	<form class="login100-form validate-form" method="POST">
        		{% csrf_token %}
                <span class="login100-form-title pb-5">
                    Forgot Password
                </span>
                <p class="text-muted">Enter the email address registered on your account</p>
                <div class="wrap-input100 validate-input input-group" data-bs-validate="Valid email is required: ex@abc.xyz">
                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="zmdi zmdi-email" aria-hidden="true"></i>
                    </a>
                    {% render_field form.email class="input100 form-control" placeholder="Enter email" required="true" %}
                </div>
                <div class="submit">
                    <button class="btn btn-primary d-grid" type="submit">Submit</button>
                </div>
                <div class="text-center mt-4">
                    <p class="text-dark mb-0">Forgot It?<a class="text-primary ms-1" href="{% url 'users:login' %}">Send me Back</a></p>
                </div>
                <!-- <label class="login-social-icon"><span>OR</span></label>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)">
                        <div class="social-login me-4 text-center">
                            <i class="fa fa-google"></i>
                        </div>
                    </a>
                    <a href="javascript:void(0)">
                        <div class="social-login me-4 text-center">
                            <i class="fa fa-facebook"></i>
                        </div>
                    </a>
                    <a href="javascript:void(0)">
                        <div class="social-login text-center">
                            <i class="fa fa-twitter"></i>
                        </div>
                    </a>
                </div> -->
            </form>
		</div>
	</div>
{% endblock %}
{% block scripts %}
    <script>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    errorToastMixin.fire({
                        animation: true,
                        title: `{{ error|escape }}`,
                    });
                    
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                errorToastMixin.fire({
                    animation: true,
                    title: `{{ error|escape }}`,
                });
                    
            {% endfor %}

        {% endif %}
    </script>
{% endblock %}