{% load static %}
<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" href="{% url 'core:homepage' %}">
                <img src="{% static 'assets/images/brand/logo.png'%}" class="header-brand-img desktop-logo" alt="logo">
                <img src="{% static 'assets/images/brand/logo-1.png'%}" class="header-brand-img toggle-logo" alt="logo">
                <img src="{% static 'assets/images/brand/logo-2.png'%}" class="header-brand-img light-logo" alt="logo">
                <img src="{% static 'assets/images/brand/logo-3.png'%}" class="header-brand-img light-logo1" alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
            {% if request.user.user_type == 'Administration' %}
                <ul class="side-menu">
                    <li class="sub-category">
                        <h3>Main</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'administration:administration-dashboard' %}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fe fe-users"></i>
                            <span class="side-menu__label">Users</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li>
                                <a href="{% url 'administration:list-users' %}"  class="slide-item">User List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fa fa-list"></i>
                            <span class="side-menu__label">Subjects</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li>
                                <a href="{% url 'administration:subject-list' %}"  class="slide-item">Subject List</a>
                            </li>
                            <li>
                                <a href="{% url 'administration:create-subject' %}"  class="slide-item">Create Subject</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% elif request.user.user_type == 'Teacher' %}
                <ul class="side-menu">
                    <li class="sub-category">
                        <h3>Main</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'teachers_portal:teachers-dashboard' %}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                    </li>
                    <li class="sub-category">
                        <h3>Course</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <span class="side-menu__icon material-symbols-outlined">library_books</span>
                            <span class="side-menu__label">Courses</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li>
                                <a href="{% url 'teachers_portal:course-list' %}"  class="slide-item">Course List</a>
                            </li>
                            <li>
                                <a href="{% url 'teachers_portal:create-course' %}"  class="slide-item">Create Course</a>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <span class="side-menu__icon material-symbols-outlined">topic</span>
                            <span class="side-menu__label">Topics</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li>
                                <a href="{% url 'teachers_portal:topic-list' %}"  class="slide-item">Topic List</a>
                            </li>
                            <li>
                                <a href="{% url 'teachers_portal:create-topic' %}"  class="slide-item">Create Topic</a>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <span class="side-menu__icon material-symbols-outlined">quiz</span>
                            <span class="side-menu__label">Quizes</span>
                            <i class="angle fe fe-chevron-right"></i>
                        </a>
                        <ul class="slide-menu">
                            <li>
                                <a href="{% url 'teachers_portal:quiz-list' %}"  class="slide-item">Quiz List</a>
                            </li>
                            <li>
                                <a href="{% url 'teachers_portal:create-quiz' %}"  class="slide-item">Create Quiz</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-category">
                        <h3>Enrollment</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'teachers_portal:list-students' %}">    <span class="side-menu__icon material-symbols-outlined">group</span>
                            <span class="side-menu__label">Student List</span>
                        </a>
                    </li>
                </ul>
            {% elif request.user.user_type == 'Student' %}
                <ul class="side-menu">
                    <li class="sub-category">
                        <h3>Main</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'students_portal:students-dashboard' %}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'students_portal:explore-courses' %}">
                            <span class="side-menu__icon material-symbols-outlined">manage_search</span>
                            <span class="side-menu__label">Explore Courses</span>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'students_portal:list-enrollment' %}">
                            <span class="side-menu__icon material-symbols-outlined">subject</span>
                            <span class="side-menu__label">Enrollment List</span>
                        </a>
                    </li>
                </ul>
            {% else %}
                <ul class="side-menu">
                    <li class="sub-category">
                        <h3>Main</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'core:homepage' %}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                    </li>
                    <li class="sub-category">
                        <h3>UI Kit</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Apps</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Apps</a></li>
                            <li><a href="cards" class="slide-item"> Cards design</a></li>
                            <li><a href="calendar" class="slide-item"> Default calendar</a></li>
                            <li><a href="calendar2" class="slide-item"> Full calendar</a></li>
                            <li><a href="chat" class="slide-item"> Chat</a></li>
                            <li><a href="notify" class="slide-item"> Notifications</a></li>
                            <li><a href="sweetalert" class="slide-item"> Sweet alerts</a></li>
                            <li><a href="rangeslider" class="slide-item"> Range slider</a></li>
                            <li><a href="scroll" class="slide-item"> Content Scroll bar</a></li>
                            <li><a href="loaders" class="slide-item"> Loaders</a></li>
                            <li><a href="counters" class="slide-item"> Counters</a></li>
                            <li><a href="rating" class="slide-item"> Rating</a></li>
                            <li><a href="timeline" class="slide-item"> Timeline</a></li>
                            <li><a href="treeview" class="slide-item"> Treeview</a></li>
                            <li><a href="chart" class="slide-item"> Charts</a></li>
                            <li><a href="footers" class="slide-item"> Footers</a></li>
                            <li><a href="users-list" class="slide-item"> User List</a></li>
                            <li><a href="search" class="slide-item">Search</a></li>
                            <li><a href="crypto-currencies" class="slide-item"> Crypto-currencies</a></li>

                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-package"></i><span class="side-menu__label">Bootstrap</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Bootstrap</a></li>
                            <li><a href="alerts" class="slide-item"> Alerts</a></li>
                            <li><a href="buttons" class="slide-item"> Buttons</a></li>
                            <li><a href="colors" class="slide-item"> Colors</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Avatars</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="avatarsquare" class="sub-slide-item"> Avatar-Square</a></li>
                                    <li><a href="avatar-round" class="sub-slide-item"> Avatar-Rounded</a></li>
                                    <li><a href="avatar-radius" class="sub-slide-item"> Avatar-Radius</a></li>
                                </ul>
                            </li>
                            <li><a href="dropdown" class="slide-item"> Drop downs</a></li>
                            <li><a href="listgroup" class="slide-item"> List Group</a></li>
                            <li><a href="tags" class="slide-item"> Tags</a></li>
                            <li><a href="pagination" class="slide-item"> Pagination</a></li>
                            <li><a href="navigation" class="slide-item"> Navigation</a></li>
                            <li><a href="typography" class="slide-item"> Typography</a></li>
                            <li><a href="breadcrumbs" class="slide-item"> Breadcrumbs</a></li>
                            <li><a href="badge" class="slide-item"> Badges / Pills</a></li>
                            <li><a href="panels" class="slide-item"> Panels</a></li>
                            <li><a href="thumbnails" class="slide-item"> Thumbnails</a></li>
                            <li><a href="offcanvas" class="slide-item"> Offcanvas</a></li>
                            <li><a href="toast" class="slide-item"> Toast</a></li>
                            <li><a href="scrollspy" class="slide-item"> Scrollspy</a></li>
                            <li><a href="mediaobject" class="slide-item"> Media Object</a></li>
                            <li><a href="accordion" class="slide-item"> Accordions</a></li>
                            <li><a href="tabs" class="slide-item"> Tabs</a></li>
                            <li><a href="modal" class="slide-item"> Modal</a></li>
                            <li><a href="tooltipandpopover" class="slide-item"> Tooltip and popover</a></li>
                            <li><a href="progress" class="slide-item"> Progress</a></li>
                            <li><a href="carousel" class="slide-item"> Carousels</a></li>
                        </ul>
                    </li>
                    <li class="sub-category">
                        <h3>Pre-build Pages</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Pages</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Pages</a></li>
                            <li><a href="profile" class="slide-item"> Profile</a></li>
                            <li><a href="editprofile" class="slide-item"> Edit Profile</a></li>
                            <li><a href="notify-list" class="slide-item"> Notifications List</a></li>
                            <li><a href="email-compose" class="slide-item"> Mail-Compose</a></li>
                            <li><a href="email-inbox" class="slide-item"> Mail-Inbox</a></li>
                            <li><a href="email-read" class="slide-item"> Mail-Read</a></li>
                            <li><a href="gallery" class="slide-item"> Gallery</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Forms</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="form-elements" class="sub-slide-item"> Form Elements</a></li>
                                    <li><a href="form-layouts" class="sub-slide-item"> Form Layouts</a></li>
                                    <li><a href="form-advanced" class="sub-slide-item"> Form Advanced</a></li>
                                    <li><a href="form-editor" class="sub-slide-item"> Form Editor</a></li>
                                    <li><a href="form-wizard" class="sub-slide-item"> Form Wizard</a></li>
                                    <li><a href="form-validation" class="sub-slide-item"> Form Validation</a></li>
                                </ul>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Tables</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="tables" class="sub-slide-item">Default table</a></li>
                                    <li><a href="datatable" class="sub-slide-item"> Data Tables</a></li>
                                    <li><a href="edit-table" class="sub-slide-item"> Edit Tables</a></li>
                                </ul>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Extension</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="about" class="sub-slide-item"> About Company</a></li>
                                    <li><a href="services" class="sub-slide-item"> Services</a></li>
                                    <li><a href="faq" class="sub-slide-item"> FAQS</a></li>
                                    <li><a href="terms" class="sub-slide-item"> Terms</a></li>
                                    <li><a href="invoice" class="sub-slide-item"> Invoice</a></li>
                                    <li><a href="pricing" class="sub-slide-item"> Pricing Tables</a></li>
                                    <li><a href="settings" class="sub-slide-item"> Settings</a></li>
                                    <li><a href="blog" class="sub-slide-item"> Blog</a></li>
                                    <li><a href="blog-details" class="sub-slide-item"> Blog Details</a></li>
                                    <li><a href="blog-post" class="sub-slide-item"> Blog Post</a></li>
                                    <li><a href="emptypage" class="sub-slide-item"> Empty Page</a></li>
                                    <li><a href="construction" class="sub-slide-item"> Under Construction</a></li>
                                </ul>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Switcher</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a class="sub-slide-item" href="switcher1">Switcher Style 1</a></li>
                                    <li><a class="sub-slide-item" href="switcher2">Switcher Style 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-shopping-bag"></i><span class="side-menu__label">E-Commerce</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">E-Commerce</a></li>
                            <li><a href="shop" class="slide-item"> Shop</a></li>
                            <li><a href="shop-description" class="slide-item"> Product Details</a></li>
                            <li><a href="cart" class="slide-item"> Shopping Cart</a></li>
                            <li><a href="add-product" class="slide-item"> Add Product</a></li>
                            <li><a href="wishlist" class="slide-item"> Wishlist</a></li>
                            <li><a href="checkout" class="slide-item"> Checkout</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-folder"></i><span class="side-menu__label">File Manager</span><span class="badge bg-pink side-badge">4</span><i class="angle fe fe-chevron-right hor-angle"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">File Manager</a></li>
                            <li><a href="file-manager" class="slide-item"> File Manager</a></li>
                            <li><a href="filemanager-list" class="slide-item"> File Manager List</a></li>
                            <li><a href="filemanager-details" class="slide-item"> File Details</a></li>
                            <li><a href="file-attachments" class="slide-item"> File Attachments</a></li>
                        </ul>
                    </li>
                    <li class="sub-category">
                        <h3>Misc Pages</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">Authentication</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Authentication</a></li>
                            <li><a href="login" class="slide-item"> Login</a></li>
                            <li><a href="register" class="slide-item"> Register</a></li>
                            <li><a href="forgot-password" class="slide-item"> Forgot Password</a></li>
                            <li><a href="lockscreen" class="slide-item"> Lock screen</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Error Pages</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="error400" class="sub-slide-item"> 400</a></li>
                                    <li><a href="error401" class="sub-slide-item"> 401</a></li>
                                    <li><a href="error403" class="sub-slide-item"> 403</a></li>
                                    <li><a href="error404" class="sub-slide-item"> 404</a></li>
                                    <li><a href="error500" class="sub-slide-item"> 500</a></li>
                                    <li><a href="error503" class="sub-slide-item"> 503</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fe fe-cpu"></i>
                            <span class="side-menu__label">Submenu items</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Submenu items</a></li>
                            <li><a href="javascript:void(0)" class="slide-item">Submenu-1</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Submenu-2</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.1</a></li>
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.2</a></li>
                                    <li class="sub-slide2">
                                        <a class="sub-side-menu__item2" href="javascript:void(0)" data-bs-toggle="sub-slide2"><span class="sub-side-menu__label2">Submenu-2.3</span><i class="sub-angle2 fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu2">
                                            <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.1</a></li>
                                            <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.2</a></li>
                                            <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.3</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.4</a></li>
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-category">
                        <h3>General</h3>
                    </li>
                    <li>
                        <a class="side-menu__item" href="widgets"><i class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">Widgets</span></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-map-pin"></i><span class="side-menu__label">Maps</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Maps</a></li>
                            <li><a href="maps1" class="slide-item">Leaflet Maps</a></li>
                            <li><a href="maps2" class="slide-item">Mapel Maps</a></li>
                            <li><a href="maps" class="slide-item">Vector Maps</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">Charts</span><span class="badge bg-secondary side-badge">6</span><i class="angle fe fe-chevron-right hor-angle"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Charts</a></li>
                            <li><a href="chart-chartist" class="slide-item">Chart Js</a></li>
                            <li><a href="chart-flot" class="slide-item"> Flot Charts</a></li>
                            <li><a href="chart-echart" class="slide-item"> ECharts</a></li>
                            <li><a href="chart-morris" class="slide-item"> Morris Charts</a></li>
                            <li><a href="chart-nvd3" class="slide-item"> Nvd3 Charts</a></li>
                            <li><a href="charts" class="slide-item"> C3 Bar Charts</a></li>
                            <li><a href="chart-line" class="slide-item"> C3 Line Charts</a></li>
                            <li><a href="chart-donut" class="slide-item"> C3 Donut Charts</a></li>
                            <li><a href="chart-pie" class="slide-item"> C3 Pie charts</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-wind"></i><span class="side-menu__label">Icons</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Icons</a></li>
                            <li><a href="icons" class="slide-item"> Font Awesome</a></li>
                            <li><a href="icons2" class="slide-item"> Material Design Icons</a></li>
                            <li><a href="icons3" class="slide-item"> Simple Line Icons</a></li>
                            <li><a href="icons4" class="slide-item"> Feather Icons</a></li>
                            <li><a href="icons5" class="slide-item"> Ionic Icons</a></li>
                            <li><a href="icons6" class="slide-item"> Flag Icons</a></li>
                            <li><a href="icons7" class="slide-item"> pe7 Icons</a></li>
                            <li><a href="icons8" class="slide-item"> Themify Icons</a></li>
                            <li><a href="icons9" class="slide-item">Typicons Icons</a></li>
                            <li><a href="icons10" class="slide-item">Weather Icons</a></li>
                            <li><a href="icons11" class="slide-item">Bootstrap Icons</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
        </div>
    </div>
</div>
<!--/APP-SIDEBAR-->
